.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: -webkit-linear-gradient(top, white, black);
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}
@font-face {
  font-family: 'AAvanteLtDemiBold';
  src: url("../fonts/AAvanteLtDemiBold.woff") format("woff"), url("../fonts/AAvanteLtDemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AAvanteLtDemiBoldItalic';
  src: url("../fonts/AAvanteLtDemiBoldItalic.woff") format("woff"), url("../fonts/AAvanteLtDemiBoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AAvanteLtLight';
  src: url("../fonts/AAvanteLtLight.woff") format("woff"), url("../fonts/AAvanteLtLight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AAvanteLtLightItalic';
  src: url("../fonts/AAvanteLtLightItalic.woff") format("woff"), url("../fonts/AAvanteLtLightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }


@-webkit-keyframes menu-animate {
  from {
    margin-right: -100%;}
  to {
    margin-right: 0px;}
}


@keyframes menu-animate {
  from {
    margin-right: -100%;}
  to {
    margin-right: 0px;}
}
@-webkit-keyframes slider-animation {
  from {
    margin-right: -100%;
    opacity: 0;}
  to {
    margin-right: 66px;
    opacity: 1;
  }
}
@keyframes slider-animation {
  from {
    margin-right: -100%;
    opacity: 0;}
  to {
    margin-right: 66px;
    opacity: 1;
  }
}
@-webkit-keyframes plans-help-hidden{
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes plans-help-hidden{
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

/*default style*/
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  background: #193e73;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.white{
  background: transparent;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "AAvanteLtDemiBold", sans-serif; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
a, button, input{
  -webkit-appearance: none;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
a:hover {
  text-decoration: none;
  cursor: pointer;
}
.image {
  position: relative; }
button:focus, button:hover, button.active, button:active, button:visited,
a:focus, a:hover, a.active, a:active, a:visited, button, input, select , *:focus{
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  background: transparent;}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
.btn-menu-open {
  position: fixed;
  top: 26px;
  right: 1.071em;
  z-index: 10;
}
.btn-menu-open span {
  margin: auto;
  display: block;
  width: 32px;
  height: 2px;
  background: #fff;
  border-top: 1px solid rgba(255,255,255,0.6);
  border-bottom: 1px solid rgba(255,255,255,0.6);
}
.btn-blue{
  background: #50e8ff;
  width: 50px;
  height: 50px;
  padding: 16px 12px;
}
.btn-blue:hover{
  background: #50e8ff;
}
.btn-blue span{
  width: 100%;
}
.btn-blue:hover span{
  background: #193e73;
  opacity: 1;
}
.btn-menu-open span + span {
  margin-top: 5px; }
.btn-blue span + span {
  margin-top: 6px;
}
.btn-menu-close {
  position: absolute;
  top: 26px;
  right: 1.071em;
  z-index: 400;
  width: 26px;
  height: 26px;
}
.tour-iframe .btn-close{
  display: block;
  width: 26px;
  height: 26px;
  margin: 12px auto;
}
.btn-menu-close .btn-close {
  display: block;
  width: 100%;
  height: 100%;

}
.tour-iframe .btn-close:before,
.btn-menu-close .btn-close:before {
  content: '';
  display: block;
  width: 34px;
  height: 2px;
  background: #fff;
  -webkit-transform: rotate(45deg) translate(6px, 11px);
  -ms-transform: rotate(45deg) translate(6px, 11px);
  transform: rotate(45deg) translate(6px, 11px)
}
.tour-iframe .btn-close:after,
.btn-menu-close .btn-close:after {
  content: '';
  display: block;
  width: 34px;
  height: 2px;
  background: #fff;
  -webkit-transform: rotate(-45deg) translate(-10px, 5px);
  -ms-transform: rotate(-45deg) translate(-10px, 5px);
  transform: rotate(-45deg) translate(-10px, 5px);
}
section > h1{
  display: none;
}
.wrapper{
  max-width: 1023px;
  margin: auto;
  position: relative;
}
.wrapper.menu-open{
  overflow: hidden;
  height: 100vh;
}
/*default style*/

/*logo*/
header  .logo{
  position: absolute;
  top: 20px;
  left: 1.071em;
  width: 76px;
  z-index: 10;

}
header  .logo img{
  width: 100%;
  height: auto;
}
/*logo*/

/*menu*/
.kor-menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #193e73;
  color: #fff;
  opacity: 0;
  z-index: -10;
}
.kor-menu a{
  color: #fff;
  text-align: right;
}
.menu-open .kor-menu{
  opacity: 1;
  z-index: 200;
}
.kor-menu ul.menu{
  padding: 60px 1.071em 120px;
}
.menu-open .kor-menu ul.menu > li {
  cursor: pointer;
  text-align: right;
  margin-right: -100%;
  position: relative;
  -webkit-animation-name: menu-animate;
  animation-name: menu-animate;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: cubic-bezier(.47, -.44, .49, 1.46);
  animation-timing-function: cubic-bezier(.47, -.44, .49, 1.46);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.kor-menu ul.menu > li a{
  font-size: 18px;
  line-height: 34px;
  font-family: 'AAvanteLtDemiBold', sans-serif;
}
.kor-menu ul.menu > li.folder:before{
  content: '+';
  font-size: 28px;
  padding-right: 12px;
}
.kor-menu ul.menu > li.folder.open:before {
  content: '-';
}
.kor-menu ul.menu > li.folder li{
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.kor-menu ul.menu > li.folder.open li{
  opacity: 1;
  height: 30px;
}
.kor-menu ul.menu > li.folder li a{
  font-size: 14px;
  line-height: 30px;
  text-decoration: underline;
}
.kor-menu ul.menu > li.folder li a:hover{
  text-decoration: none;
}
.kor-menu ul.menu > li:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.kor-menu ul.menu > li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.kor-menu ul.menu > li:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.kor-menu ul.menu > li:nth-child(4) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.kor-menu ul.menu > li:nth-child(5) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.kor-menu ul.menu > li:nth-child(6) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.kor-menu ul.menu > li:nth-child(7){
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}


/*menu*/

/*main*/
.main-owl .slick-arrow{
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.slick-control{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1.76rem;
  position: absolute;
  right: 1.071em;
  top: 25%;
  z-index: 20;
}
.slick-control .arrow{
  width: 24px;
  height: 24px;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  font-size: 2em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.slick-control .arrow +.arrow{
  margin-top: 1.3rem;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.main-owl .item{
  width: 100%;
  height: 100vh;
  position: relative;
}
.main-owl .item:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.2);
}
.main-owl .slick-dots{
  position: absolute;
  right: 1.071em;
  top: calc(30% + 100px);
  width: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 10;
}
.main-owl .slick-dots li{
  border-radius: 50%;
  background: rgba(255,255,255,0.6);
  width: 12px;
  height: 12px;
}
.main-owl .slick-dots li+li{
  margin-top: 22px;
}
.main-owl .slick-dots li.slick-active{
  background: #fff;
}
.main-owl .slick-dots li button{
  display: none;
}
.main-owl .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 1.071em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  top: 0;
  color: #fff;
  position: absolute;
  z-index: 20;
}
.main-owl .info h2{
  font-size: 2.3em;
  margin-bottom: 0.45em;
  line-height: 1.1em;
}

/*.dynamics-slick .slick-track,*/
.main-owl .slick-track {
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}
/*.dynamics-slick img,*/
.main-owl img {
  height: 100vh;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: scale(1.2) translate(-50%, -50%);
  -ms-transform: scale(1.2) translate(-50%, -50%);
  transform: scale(1.2) translate(-50%, -50%);
}
/*.dynamics-slick .slick-active img,*/
.main-owl .slick-active img {
  -webkit-transform: scale(1) translate(-50%, -50%);
  -ms-transform: scale(1)  translate(-50%, -50%);
  transform: scale(1)  translate(-50%, -50%);
}
/*main*/

/*footer*/
.footer-mob{
  background: #193e73;
  padding: 20px 1.071em;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  z-index: 10;
}
.footer-mob .phone{
  -ms-flex-preferred-size: 62%;
  flex-basis: 62%;
  color: #fff;
  font-size: 1.5em;
  font-weight: 800;
}
.footer-mob .modal-btn{
  text-decoration: underline;
  -ms-flex-preferred-size: 38%;
  flex-basis: 38%;
  text-align: right;
  color: #50e8ff;
  font-family: 'AAvanteLtDemiBold', sans-serif;
  font-size: 0.8em;
}
.footer-mob .modal-btn:hover{
  text-decoration: none;
}
.footer-mob .address{
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  font-style: normal;
  font-family: 'AAvanteLtDemiBold', sans-serif;
}
.footer-mob .row{
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 0.6em;
}
/*footer*/

/*gallery*/
.kor-gallery{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.bg-tour{
  position: relative;
}
.bg-tour img{
  width: auto;
  height: calc(100vh - 100px);
}

.tour-point{
  width: 30px;
  height: 30px;
  background: #193e73;
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: 18px 18px;
  -ms-transform-origin: 18px 18px;
  transform-origin: 18px 18px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: transform 0.4s;
  -o-transition: transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  text-align: center;
  line-height: 28px;
}
.tour-point a{
  display: inline-block;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: transform 0.4s;
  -o-transition: transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  color: #fff;

  font-size: 18px;
}
.tour-point.first{
  top: 48%;
  left: 29%;
}
.tour-point.second{
  top: 55%;
  left: 52%;
}
.tour-point.third{
  top: 70%;
  left: 66%;
}
.tour-point::after{
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: -1;
  background: transparent;
  border: 4px solid #fff;
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
}
.tour-point::before{
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: -1;
  background: transparent;
  border: 2px solid #193e73;
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
}
.tour-point:hover{
  -webkit-transform: rotate(-315deg);
  -ms-transform: rotate(-315deg);
  transform: rotate(-315deg);
}
.tour-point:hover span {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.plans__help-icon {
  background: url(../img/sprite.svg?v36) no-repeat -0.9em -33.4em;
  background-size: 100em 100em;
  bottom: 49%;
  height: 8.4em;
  left: 50%;
  margin: 0 0 0 -5.5em;
  position: absolute;
  -webkit-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  width: 9.8em;
}
.plans__help-note {
  color: #fff;
  font-family: 'AAvanteLtLight', sans-serif;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-top: 1.25em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 51%;
  width: 70%;
  font-size: 1.6em;
}
.pano_place,
.plans__help {
  font-size: 0.6em;
  background-color: #2f2a28;
  cursor: pointer;
  opacity: 0.87;
  -webkit-transition: opacity 500ms linear, visibility 500ms linear;
  -o-transition: opacity 500ms linear, visibility 500ms linear;
  transition: opacity 500ms linear, visibility 500ms linear;
  z-index: 400;
  -webkit-animation-name: plans-help-hidden;
  animation-name: plans-help-hidden;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(.47, -.44, .49, 1.46);
  animation-timing-function: cubic-bezier(.47, -.44, .49, 1.46);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.div_100 {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
/*gallery*/

/*scroll*/
.mCSB_horizontal.mCSB_inside > .mCSB_container{
  margin-bottom: 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal{
  height: 0;
  overflow: hidden;
}
/*scroll*/

/*3d_tour*/
.tour-iframe  iframe{
  width: 100%;
  height: 100vh;
}
.tour-close{
  width: 50px;
  height: 50px;
  background: #50e8ff;
  position: absolute;
  right: 1.071em;
  top: 26px;
  z-index: 0;
}
/*3d_tour*/

/*documents*/
.kor-calc,
.kor-flat,
.kor-plan,
.kor-contacts,
.kor-news,
.kor-about,
.kor-docs{
  padding: 26px 1.071em;
  color: #fff;
}
.kor-news p,
.kor-about p{
  color: #fff;
  margin-bottom: 1em;
  font-family: 'AAvanteLtLight', sans-serif;
  line-height: 1.286em;
}
.kor-calc > h1,
.kor-contacts > h1,
.kor-location > h1,
.kor-news > h1,
.kor-about > h1,
.kor-docs > h1 {
  display: block;
  color: #fff;
  font-size: 1.714em;
  margin-bottom: 1em;
  margin-right: 80px;
}
.kor-docs a.change-log{
  background: transparent;
  color: #fab720;
  padding: 0;
  text-decoration: underline;
  font-family: 'AAvanteLtDemiBold', sans-serif;
  display: block;
  margin-bottom: 2em;
}
.kor-docs .change-log:hover{
  text-decoration: none;
}
.docs li {
  margin-bottom: 2em; }
.docs li a {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex; }
.docs li a:hover {
  text-decoration: underline;
}
.docs li a img {
  margin-right: 0.6em;
  height: 1.43em;
  width: auto;
}
.docs li a span {
  display: block;
  height: 100%;
}
.category-title{
  font-size: 2em;
  padding-left: 1.6em;
  background-image: url(../img/rubrika.png);
  background-size: contain;
  background-position: left center;
  font-weight: 800;
  background-repeat: no-repeat;
  margin-bottom: 0.8em;
}
/*documents*/

/*change-log*/
.change-log {
  width: 96%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #fff;}
.change-log table {
  border: 1px solid #000;
  width: 100%;
  font-size: 0.8rem;
  border-collapse: collapse; }
.change-log table thead tr {
  font-weight: 700; }
.change-log table .title {
  width: 40%; }
.change-log table tr td {
  border: 1px solid #000;
  padding: 0.7em 1.2em; }
.change-log table tr td a {
  color: #000cff;
  text-decoration: underline; }
.change-log table tr td a:hover {
  text-decoration: none;
  opacity: 1; }
/*change-log*/

/*news*/
.kor-news .date{
  color: #fab720;
  font-size: 1.714em;
  font-family: 'AAvanteLtDemiBold', sans-serif;
  margin-bottom: 0.6em;
}
.kor-news .date span{
  font-size: 2em;
}
.news-item:not(:last-child){
  margin-bottom: 1.5em;
}
.news-item .title{
  font-size: 1.286em;
  margin-bottom: 0.5em;
  cursor: pointer;
}
.news-item .title:hover{
  text-decoration: underline;
}
.kor-news .news-text{
  height: 2.58em;
  overflow: hidden;
}
.news-item .btn-menu-close{
  display: none;
}
.news-item.open{
  background: #193e73;
  position: fixed;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  opacity: 1 !important;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 26px 1.071em;
  z-index: 300;
}
.news-item.open .news-text{
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  top: 36px;
  padding-bottom: 60px;
  padding-right: 15px;
}
.news-item.open .btn-menu-close{
  display: block;
}
.news-text img{
  width: 100%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.news-text  ol{
  padding-left: 1.7em;
}
.news-item.open .title{
  cursor: auto;
}
.news-item.open .title:hover{
  text-decoration: none;
}
/*news*/

/*contacts*/
.contacts{
  height: auto;
  min-height: 100vh;
}
.kor-contacts .phone{
  color: #fff;
  font-size: 2.143em;
  font-weight: 800;
  display: block;
  margin-bottom: 1.12em;
}
.kor-contacts .address{
  font-size: 1.58em;
  font-style: normal;
  font-family: 'AAvanteLtLight', sans-serif;
  margin-bottom: 1.12em;
}
.kor-contacts .schedule{
  font-family: 'AAvanteLtDemiBold', sans-serif;
  font-size: 1.125em;
  margin-bottom: 2.6em;
}
.kor-contacts .cont-linck{
  font-size: 1.125em;
  font-family: 'AAvanteLtDemiBold', sans-serif;
  display: block;
  color: #fab720;
  text-decoration: underline;
  line-height: 2em;
}
.kor-contacts{
  padding-bottom: 5em;
  position: relative;
}
.kor-contacts .content{
  margin-top: 3em;
}
.social-lincks{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.social-lincks li{
}
.social-lincks a{
  display: block;
  width: 3.2em;
  height: 3.2em;
  overflow: hidden;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.social-lincks a:hover{
  -webkit-transform: scale(+1.06);
  -ms-transform: scale(+1.06);
  transform: scale(+1.06);
}
.social-lincks a img{
  height: 3.2em;
  width: auto;
}
.map-block{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 300;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.map-block.open{
  display: block;
  opacity: 1;
}
.map-block .tour-close{
  background: #193e73;
  padding: 12px;
}
/*contacts*/

/*location*/
.kor-location{
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.kor-location .map{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.kor-location .map iframe{
  width: 100%;
  height: 100%;
}
.kor-location > h1{
  background: #193e73;
  /*line-height: 3.2em;*/
  line-height: 76px;
  margin-bottom: 0;
  padding: 0 1.071em;

}
/*location*/

/*choice-plan*/
.flat{
  margin-top: 1.714em;
  margin-bottom: 1.714em;
}
.flat-title{
  text-decoration: underline;
  margin-bottom: 1em;
}
.flat-img img{
  width: 100%;
  height: auto;
}
.flat-position{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1.714em;
}
.pos-item{
  -ms-flex-preferred-size: 22%;
  flex-basis: 22%;
  text-align: center;
}
.pos-item .pos-value{
  font-size: 2.14em;
  font-family: 'AAvanteLtDemiBold', sans-serif;
}
.pos-item span{
  display: block;
  text-transform: uppercase;
}
.flat-price{
  color: #fab720;
  font-size: 1.714em;
  font-family: 'AAvanteLtDemiBold', sans-serif;
  margin-bottom: 1em;
}
.flat-price span{
  font-size: 14px;
  text-transform: uppercase;
}
.btn-back{
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
}
.btn-arrow{
  width: 2.441em;
  height: 2.441em;
  background: #fab720;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.btn-arrow::before{
  content: '';
  border: 3px solid #fff;
  border-top: none;
  border-left: none;
  width: 1.1em;
  height: 1.1em;
  margin-right: -0.5em;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.btn-back  .btn-text{
  font-family: 'AAvanteLtDemiBold', sans-serif;
  color: #fff;
  line-height: 2.441em;
  padding-left: 0.8em;
}
.btn-back  .btn-text:hover{
  text-decoration: underline;
}
.bron, .calculator{
  display: inline-block;
  color: #fff;
  padding-left: 3em;
  height: 2.441em;
  line-height: 2.441em;
  font-family: 'AAvanteLtDemiBold', sans-serif;
  text-decoration: underline;
  background: url("../img/plan_lincs_1.png") no-repeat left;
  background-size: contain;
  margin-bottom: 1em;
}
.calculator{
  background: url("../img/icon-calc.png") no-repeat left;
  background-size: contain;
}
.charact{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 1.57em;
  margin-bottom: 1em;
}
.char-item{
  -ms-flex-preferred-size: 46%;
  flex-basis: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'AAvanteLtLight', sans-serif;
}
.char-value{
  font-family: 'AAvanteLtDemiBold', sans-serif;
  text-align: right;
}
/*choice-plan*/

/*modal*/
.lw-modal-body{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  background: rgba(24, 62, 116, 1);
  color: #fff;
}
.lw-modal-body.open{
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}
.lw-modal-body form {
  /*overflow-x: hidden;*/
  /*overflow-y: auto;*/
}
.lw-modal-body form a{
  color: #fff;
  text-decoration: underline;
}
.lw-modal-body form a:hover{
  color: #fff;
  text-decoration: none;
}
.lw-modal-body .btn-menu-close{
  top: 30px;
}
.lw-modal-content{
  max-width: 290px;
  width: 100%;
  position: relative;
  margin: 26px auto;
  margin-top: 100px;
  padding-bottom: 30px;
}
.lw-modal-content h1{
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 10px;
}
.lw-modal-content h1 span{
  font-size: 14px;
  display: block;
  text-transform: none;
}
.lw-modal-content p{
  font-size: 11px;
}
.lw-modal-content input, .lw-modal-content textarea{
  border: none;
  background: transparent;
  border-bottom: 3px solid #50e8ff;
  height: 36px;
  border-radius: 0;
  width: 100%;
  margin-top: 22px;
  color: #fff;
  font-size: 1em;
  font-family: 'AAvanteLtLight', sans-serif;
}
.lw-modal-content input{
  line-height: 36px;
}
.lw-modal-content textarea{
  padding-top: 8px;
}
.lw-modal-content textarea:focus,
.lw-modal-content textarea:active{
  outline: none;
}
.lw-modal-content textarea::-webkit-input-placeholder,
.lw-modal-content input::-webkit-input-placeholder{
  color: #fff;
  font-size: 17px;
  font-family: "AAvanteLtLight", sans-serif;
}
.lw-modal-content textarea:-ms-input-placeholder,
.lw-modal-content input:-ms-input-placeholder{
  color: #fff;
  font-size: 17px;
  font-family: "AAvanteLtLight", sans-serif;
}
.lw-modal-content textarea:-ms-input-placeholder,
.lw-modal-content input:-ms-input-placeholder{
  color: #fff;
  font-size: 17px;
  font-family: "AAvanteLtLight", sans-serif;
}
.lw-modal-content textarea::-ms-input-placeholder,
.lw-modal-content input::-ms-input-placeholder{
  color: #fff;
  font-size: 17px;
  font-family: "AAvanteLtLight", sans-serif;
}
.lw-modal-content textarea::placeholder,
.lw-modal-content input::placeholder{
  color: #fff;
  font-size: 17px;
  font-family: "AAvanteLtLight", sans-serif;
}
.lw-modal-content button{
  background: #fff;
  color: #193e73;
  text-transform: uppercase;
  font-size: 17px;
  height: 30px;
  margin-top: 40px;
  margin-bottom: 26px;
  padding: 0 10px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.window-view-modal {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.window-view-modal .lw-modal-content {
  width: 60%;
  height:620px;
}
.window-view{
  width: 100%;
  height: 100%;
}
.window-view .image{
  position: relative;
  width: 100%;
  height: 100%;
}
.window-view-modal .slick-slide img{
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
}
.lw-modal-body.window-view-modal .slick-arrow{
  background: transparent;
  font-size: 0;
  color: transparent;
  position: absolute;
  bottom: 0;
}
.lw-modal-body.window-view-modal .slick-prev.slick-arrow:after{
  top: 0;
}
.window-view-modal .counter{
  top: auto;
  bottom: 0;
  width: auto;
}
.window-view-modal .counter > *{
  display: inline-block;
}
.window-view-modal .slick-dots{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
/*modal*/

/*dynamics*/
.dynamics .dynamics-item .date,
.dynamics .dynamics-item .date .day{
  color: #fff;
  font-size: 1.714em;
}
.dynamics .dynamics-item img{
  width: 100%;
}
.choise-year li:not(:first-child){
  padding-left: .8em;
}
.dynamics .dynamics-item:not(:last-child) {
  margin-bottom: 1em;
}
.choise-year{
  width: 100%;
  line-height: 2.857em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: 'AAvanteLtLight', sans-serif;
  margin-bottom: 1.2em;
  position: relative;
}
.choise-year a{
  color: #fff;
}
.choise-year li.active{
  position: absolute;
  padding-left: 0;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 1.714em;
  font-family: 'AAvanteLtDemiBold', sans-serif;
  text-decoration: underline;
}
.choise-year .active a{
  color: #fab720;
}
.dynamics-item{
  cursor: pointer;
}
.dynamics-item.active{
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  -webkit-transition-duration: 0s !important;
  -o-transition-duration: 0s !important;
  transition-duration: 0s !important;
  position: absolute !important;
  opacity: 1 !important;
}
.dynamics-image{
  position: relative;
}
.dynamics-item .zoom{
  background: #fff;
  width: 4em;
  height: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../img/zoom.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  -webkit-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}
.dynamics-item:hover .zoom{
  opacity: 1;
}
.dynamics-item .dynamics-popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: none;
}
.dynamics-item .dynamics-popup .dynamics-slick{
  position: relative;
}
.dynamics-item .dynamics-popup .dynamics-slick img{
  width: auto;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.dynamics-slick .slick-list {
  position: relative;
  height: calc(100vh - 3em);
}
.dynamics-item.active .dynamics-popup{
  display: block;
}
.slide-num {
  line-height: 3em;
  color: #fff;
  font-family: 'AAvanteLtDemiBold', sans-serif;
  font-size: 1.286em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  background: #193e73;
  text-align: center;
}
.slide-num .this-slide-num{
  font-size: 1.714em;
}
.dynamics-slick .slick-arrow{
  position: absolute;
  bottom: -28px;
  z-index: 300;
  font-size: 0;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
}
.dynamics-slick .slick-arrow.slick-prev{
  left: 15px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.dynamics-slick .slick-arrow.slick-next{
  right: 15px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.btn-menu-close.dynamics-close{
  width: 50px;
  height: 50px;
  background: #193e73;
}
.btn-menu-close.dynamics-close .btn-close{
  display: block;
  width: 26px;
  height: 26px;
  margin: 12px auto;
}
.detales{
  font-size: 0.8em;
  font-family: 'AAvanteLtLight',sans-serif;
  margin-top: 1em;
}
/*dynamics*/

/*gallery*/
.gallery .kor-gallery{
  position: relative;
  height: calc(100vh - 100px);
  overflow: hidden;
}
.gallery .kor-gallery .dynamics-slick{
  height: auto;
}
.gallery .kor-gallery .dynamics-slick li{
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
}
.gallery .kor-gallery .dynamics-slick li img{
  height: 120%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.kor-gallery .dynamics-slick .slick-arrow {
  bottom: 70px;
}
.gallery .footer-mob{
  padding: 20px 15px;
  font-size: 14px;
  position: relative;
  z-index: 10;
}
.gallery .footer-mob .phone{
  font-size: 21px;
}
.gallery .footer-mob .modal-btn{
  font-size: 12px;
}
.gallery .footer-mob .row{
  margin-bottom: 8px;
}

.footer-mob.footer-static{
  position: relative;
  z-index: 10;
}
/*gallery*/

/*choice-flat*/
.kor-flat > h1{
  display: block;
  font-size: 1.714em;
  margin-bottom: 1em;
  line-height: 2.083em;
}
.max-value,
.default-value{
  font-family: 'AAvanteLtDemiBold', sans-serif;
  font-size: 1.2em;
  white-space: nowrap;
  position: absolute;
  color: #50e8ff;
  z-index: -2;
  top: 50%;
}
.default-value{
  left: -0.8em;
}
.max-value{
  right: -0.8em;
}

.slider-holder .title{
  font-size: 1.286em;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'AAvanteLtDemiBold', sans-serif;
}

.table{
  margin-top: 2.857em;
  margin-bottom: 1.286em;
}
.tr{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: -1.071em;
  margin-right: -1.071em;
  padding: 0 1.071em;
}
.tr:nth-child(even){
  background: rgba(255,255,255,0.2);
}
.td{
  -ms-flex-preferred-size: 13%;
  flex-basis: 13%;
  text-align: center;
  line-height: 1.9em;
  color: #fff;
  font-size: 0.857em;
  font-family: 'AAvanteLtLight', sans-serif;
}
.td.price{
  -ms-flex-preferred-size: 28%;
  flex-basis: 28%;
}
.td.price:last-child{
  color: #ffea00;
  font-family: 'AAvanteLtDemiBold', sans-serif;
  font-size: 1em;
}
.td.rooms{
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
}
.top-i{
  font-size: 0.6em;
  position: relative;
  top: -0.8em;
}
.thead .td.price:last-child,
.thead .td{
  color: #fff;
  font-family: 'AAvanteLtLight', sans-serif;
  text-decoration: underline;
  line-height: 2.6em;
  font-size: 0.857em;
}

.pagination{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pagination li{
  width: 2.143em;
  height: 2.143em;
  background: #50e8ff;
  color: #fff;
  text-align: center;
  margin-top: 0.8em;
}
.pagination li span{
  font-family: 'AAvanteLtDemiBold', sans-serif;
  font-size: 1.6em;
  line-height: 1.364em;
}
.pagination li:not(:last-child){
  margin-right: 1.0em;
}
.pagination li.active{
  background: #fff;
  color: #193e73;
}

.ui-slider .row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.slider-holder{
  width: 86%;
  margin: auto;
  position: relative;
}
.oun-cach{
  display: block;
  width: 24%;
  background: #fab720;
  height: 1.667em ;
  line-height: 1.667em;
  font-size: 1.286em;
  font-family: 'AAvanteLtDemiBold', sans-serif;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 38%;
  right: 0;
}
.ui-rangeSlider.ui-rangeSlider-withArrows{
  width: 100%;
}
.check-block{
  width: 45%;
  font-family: 'AAvanteLtDemiBold', sans-serif;
  height: 4.000em;
  position: relative;
  margin-top: 24px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.check-block label{
  width: 100%;
  height: 100%;
  background: #fff;
  color: #193e73;
  line-height: 3.111em;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.286em;
}
.check-block:hover label{
  -webkit-box-shadow: inset 0px 0px 8px 1px rgba(25,62,115,1);
  box-shadow: inset 0px 0px 8px 1px rgba(25,62,115,1);
}
.check-block input[type='checkbox']{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.check-block input[type='checkbox']:checked + label {
  background: #47bbf0;
  color: #fff;
}
/*choice-flat*/

/*calculator*/
.tcaption{
  font-family: 'AAvanteLtDemiBold', sans-serif;
  font-size: 1.286em;
  text-decoration: underline;
  margin-bottom: 1.286em;
  text-transform: uppercase;
  text-align: center;
}
.kor-calc .td{
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
}
.kor-calc .td.image{
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  padding: 7px 0;
  position: relative;
}
.kor-calc .td img{
  width: auto;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.kor-calc .td.price{
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}
.kor-calc .thead .td.image{
  padding: 0;
}
.sum-credit{
  font-size: 2.571em;
  font-family: 'AAvanteLtDemiBold', sans-serif;
  color: #fab720;
  line-height: 1.6em;
}
/*calculator*/

/*ui-slider*/
.ui-slider-handle.ui-state-default{
  width: 30px;
  height: 30px;
  background: #fff;
  border: none;
  border-radius: 50%;
  cursor: col-resize;
}
.ui-widget.ui-widget-content {
  border: none;
  border-radius: 0;
  height: 10px;
  margin: 10px auto;
  margin-bottom: 30px;
  margin-top: 70px;
  background: #4ad7f0;
}
.ui-slider-horizontal .ui-slider-handle{
  top: -10px;
  margin-left: -8px;
  outline: 0;
}
.ui-slider-horizontal .ui-slider-range {
  height: 100%;
  background: #fff;
}
.param-input{
  background: rgba(24, 62, 116, 1);
  color: #fff;
  border: none;
  font-family: 'AAvanteLtDemiBold', sans-serif;
  font-size: 1.65em;
  white-space: nowrap;
  cursor: col-resize;
  position: absolute;
  min-width: 60px;
  z-index: -1;
  bottom: 25px;
  -webkit-transform: translate(-38%, 0);
  -ms-transform: translate(-38%, 0);
  transform: translate(-38%, 0);
  text-align: center;
}
#amount-max-year.param-input,
#amount-max-first.param-input,
#amount-max.param-input,
#amount-price.param-input{
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  text-align: left;
}
/*ui-slider*/
#rotate-device{
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(24, 62, 116, 0.8);
}
.middle{
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.middle img{
  width: 20%;
  height: auto;
}
